<h1>Articles#index</h1>
<!-- 
<%= @articles.each do |article| %>
	<h2><%= article.title %></h2>
	<p><%= article.created_at.strftime('%b %d, %Y') %></p>
<% end %> -->

<% @articles.each do |article| %>
			<h2><%= article.title %></h2>
			<p><%= article.created_at.strftime('%d %b, %Y') %></p>
			<p><%= truncate(article.content, length: 200) %></p>
			
		<% end %>

<% if user_signed_in? %>
	<%= link_to "New Article", new_article_path %>
<% end %>