<div id="banner">
	<h1>Cool Animation goes here...</h1>
</div>

<div id="articles_wrapper" class="skinny_wrapper">

<% @articles.each do |article| %>
	<div class="article">
			<p class="date">Published: <%= article.created_at.strftime('%d %b, %Y') %></p>
			<h2><%= link_to article.title, article %></h2>
			<p class="date"><b>Tags:</b> <%= raw article.tag_list %></p>
			<hr>
		</div>
		<% end %>
		
</div>

<!-- For pagination -->
<%= will_paginate @articles %>		

<div id="tag_cloud" class="skinny_wrapper">

<ul class="tags">
	<% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
	<li><%= link_to tag.name, tag_path(tag.name), class: css_class %></li>
	<% end %>
	</ul> 
</div>

<!-- <ul>
	<li><%= link_to "All Articles", root_path%></li>
<% Category.all.each do |category| %>
			<li><%= link_to category.name, articles_path(category: category.name) %></li>
			
		<% end %>
</ul>	 -->