<h1><%= @article.title %></h1>
<p><%= @article.created_at.strftime('%d %b, %Y') %></p>
<p><%=markdown @article.content %></p>

<%= link_to "Back", root_path %>

<%= link_to "Edit", edit_article_path %>
<% if user_signed_in? %>
		
		<% if current_user.email = 'sarang.sharma14@gmail.com' %>
			<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure? "} %>

		<% end %>

<% end %>