<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !(user_signed_in? or admin_signed_in?) %>

	<%= link_to "Sign In", new_user_session_path%>
	<%= link_to "Sign Up", new_user_registration_path %>
	<% end %>

<% if user_signed_in? %>
			<%= link_to "My Account", edit_user_registration_path %>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% end %>

<br><br>

<% if admin_signed_in? %>
			<%= link_to "Admin Account", edit_admin_registration_path %>
			<%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
		<% end %>

<br><br>

<% if notice %>
	<p class="notice"><%= notice %></p>
<% elsif alert %>
	<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>



</body>
</html>
